[Unit]
Description=rabbitmq auth
After=network.target

[Service]
SuccessExitStatus=143
Type=forking
Restart=no
KillMode=control-group

ExecStart=placeholder

[Install]
WantedBy=multi-user.target
